/// clearing
$clearing-ember: #A35514;
$clearing-amber: #8F6A14;
$clearing-moss: #6E7524;
$clearing-fern: #4E7C3A;
$clearing-juniper: #1F8168;
$clearing-creek: #2A7B87;
$clearing-slate: #4A6E8C;
$clearing-clay: #A8422F;
$clearing-chokeberry: #9D4382;
$clearing-text: #2E271E;
$clearing-subtext1: #554C3E;
$clearing-subtext0: #6E6454;
$clearing-overlay2: #877C69;
$clearing-overlay1: #A0947F;
$clearing-overlay0: #B8AC95;
$clearing-surface2: #CFC4AE;
$clearing-surface1: #E0D7C6;
$clearing-surface0: #EDE7DB;
$clearing-base: #FAF7F1;
$clearing-mantle: #F3EFE6;
$clearing-crust: #EBE5D9;
