/// thicket
$thicket-ember: #E9954D;
$thicket-amber: #DCAE57;
$thicket-moss: #AFB766;
$thicket-fern: #8FBE71;
$thicket-juniper: #5AB99B;
$thicket-creek: #66B2BA;
$thicket-slate: #88A6C2;
$thicket-clay: #D67464;
$thicket-chokeberry: #B988AA;
$thicket-text: #DFE5DC;
$thicket-subtext1: #B8C4BB;
$thicket-subtext0: #98A69D;
$thicket-overlay2: #7A8880;
$thicket-overlay1: #5F6E64;
$thicket-overlay0: #47564C;
$thicket-surface2: #313F37;
$thicket-surface1: #26322B;
$thicket-surface0: #1C2620;
$thicket-base: #131A16;
$thicket-mantle: #0E1411;
$thicket-crust: #0A0F0C;
