---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "_base";
@import "_code";
@import "colors/_frappe";
@import "theme/_theme-frappe";
@import "syntax-highlighting/_syntax-frappe";
