---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "_base";
@import "_code";
@import "colors/_latte";
@import "theme/_theme-latte";
@import "syntax-highlighting/_syntax-latte";
