---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "_base";
@import "_code";
@import "colors/_macchiato";
@import "theme/_theme-macchiato";
@import "syntax-highlighting/_syntax-macchiato";
