---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "_base";
@import "_code";
@import "colors/_mocha";
@import "theme/_theme-mocha";
@import "syntax-highlighting/_syntax-mocha";
